html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
  outline: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Regular"),
  url("/fonts/OpenSans-Regular.woff2") format("woff2"),
  url("/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Bold"),
  url("/fonts/OpenSans-Bold.woff2") format("woff2"),
  url("/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
--text_color_white: #FFFFFF;
--text_color_grey: #333333;
--hero_btn_bg: #9D5CD0;
--hero_btn_active: #7943A4;
--link_hover: #C283F3;
--link_focus: #7943A4;
--width-arrow: calc(60% + 1px);
--lightgrey: #ECECEC;
}

/*glob*/

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background: #FFFFFF;
  top: 1px;
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.simplebar-content-wrapper {
  overflow: auto;
   -ms-overflow-style: auto;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: initial;
  width: initial;
  height: initial;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none ;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.h2_title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.h3_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.h4_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/*heder*/
/*header_top*/

.header__btn_burger, .header__btn_search_top {
  display: none;
}

.header__top {
  background-color: #000000;
}

.header__nav {
  padding: 23px 0;
  align-items: center;
}

.header__logo {
  margin-right: 10%;
}


.logo__desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: var(--text_color_white);
}

.nav__item {
  margin-right: 13%;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__list {
  margin-right: auto;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--text_color_white);
}

.nav__link:focus-visible {
  padding: 2px 6px 6px 6px;
  background-color: var(--link_focus);
}

.nav__link:hover:not(:focus-visible) {
  color: var(--link_hover);
}

.nav__link:active:not(:focus-visible) {
  color: var(--hero_btn_active);
}

.header__btn_login {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--text_color_white);
}

.header__btn_login:focus-visible {
  padding: 2px 6px 6px 6px;
  background-color: var(--link_focus);
}

.header__btn_login:hover:not(:focus-visible),
.header__btn_login:hover:not(:focus-visible) path  {
  color: var(--link_hover);
  fill: var(--link_hover);
}


.header__btn_login:active:not(:focus-visible),
.header__btn_login:active:not(:focus-visible) path  {
  color: var(--hero_btn_active);
  fill: var(--hero_btn_active);
}

/*header_bot*/

.header__bot {
  padding: 23px 0 20px 0;
  background: rgba(0, 0, 0, 0.5);
}

.header__nav_bot {
  align-items: center;
}

.header__bot_btn {
  margin-right: auto;
}

.nav__item_bot {
  margin-right: 12%;
}

.header__btn_styles {
  margin-right: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--text_color_white);
}

.header__btn_styles:hover:not(:focus-visible),
.header__btn_styles:hover:not(:focus-visible) path {
  color: var(--link_hover);
  stroke:var(--link_hover)
}

.header__btn_styles:focus-visible,
.header__btn_styles:focus-visible path {
padding: 2px 6px 6px 6px;
background-color: var(--link_focus);
}

.header__btn_styles:active:not(:focus-visible),
.header__btn_styles:active:not(:focus-visible) path {
  color: var(--hero_btn_active);
  stroke:var(--hero_btn_active)
}

.header__styles_svg {
  margin-left: 5px;
  transform: rotate(180deg);

}

.header__styles_svg--open {
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}


.nav__item_bot {
  align-items: center;
}

.search {
  position: relative;
  -webkit-appearance: none;
	width: 218px;
	height: 30px;
	border:none;
	background: transparent;
	padding-left: 10px;
	box-sizing: border-box; /* чтобы размеры поля были во всех браузерах одинаковыми (по умолчанию вебкиты с крестиком для очистки иначе рассчитывают размер, чем остальные браузеры) */
	-moz-box-sizing: border-box; /* для FF, который не весь CSS3 осилил */
  color: var(--text_color_white);
}

.search::placeholder {
  border-bottom: 1px solid #FFFFFFD9;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFFD9;
}

.search:hover::placeholder {
  border-bottom: 2px solid var(--link_hover);
}

.search:hover::-webkit-search-cancel-button,
.search:focus::-webkit-search-cancel-button {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666885 15.3045L15.3336 0.000275917L16.0002 0.695923L1.33355 16.0002L0.666885 15.3045Z' fill='%239D5CD0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666725 -2.96187e-06L15.3334 15.3042L14.6667 15.9999L5.76143e-05 0.695644L0.666725 -2.96187e-06Z' fill='%239D5CD0'/%3E%3C/svg%3E%0A");
}

.search:focus::placeholder {
  border-bottom: 2px solid var(--link_focus);
}

.search:active::-webkit-search-cancel-button {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666885 15.3045L15.3336 0.000275917L16.0002 0.695923L1.33355 16.0002L0.666885 15.3045Z' fill='%237943A4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666725 -2.96187e-06L15.3334 15.3042L14.6667 15.9999L5.76143e-05 0.695644L0.666725 -2.96187e-06Z' fill='%237943A4'/%3E%3C/svg%3E%0A");
}

.search:active::placeholder {
  border-bottom: 2px solid var(--hero_btn_active);
}

.header__btn_search {
  align-self: flex-end;
}

.search::-webkit-search-cancel-button { /* псевдо что-то, что отвечает за кнопку очистки */
	-webkit-appearance: none; /* без сброса оформление не применится */
	width: 16px; /* размеры кастомного крестика */
	height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666885 15.3045L15.3336 0.000275917L16.0002 0.695923L1.33355 16.0002L0.666885 15.3045Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666725 -3.39221e-06L15.3334 15.3042L14.6667 15.9999L5.72019e-05 0.695643L0.666725 -3.39221e-06Z' fill='black'/%3E%3C/svg%3E%0A"); /* новый вид крестика */
	margin-right: 2px; /* его даже можно позиционировать */
	cursor: pointer; /* вот это не работает */
}

.painters {
  position: relative;
  justify-content: space-between;
}

.styles {
  padding: 40px 40px 10px 40px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: visible;
}

.real-style {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: -1;
}

.impres-style {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 11.5%;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: -1;
}

.postimpres-style {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 27.5%;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: -1;
}

.avanfard-style {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 46%;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: -1;
}

.futur-style {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 58%;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
  z-index: -1;
}

.style--open {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
}

.styles__item {
  align-self: center;
}

.styles__link {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text_color_white);
}

.styles__link:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline-offset: 5px;
}

.styles__link:hover:not(:focus-visible):after,
.styles__link:focus-visible:after {
  outline-offset: 0;
  outline: 2px solid var(--link_hover);
}

.styles__link:active:not(:focus-visible):after {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.styles__article {
  position: relative;
  margin-bottom: 20px;
  padding: 9px 0 12px 14px;
  width: 220px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.styles__article[data-name="tintoretto"] {
  background-image: url('/img/real_tintoretto.jpg');
}

.styles__article[data-name="fridrih"] {
  background-image: url('/img/real_fridrih.jpg');
}

.styles__article[data-name="leonardo"] {
  background-image: url('/img/real_leonardo.jpg');
}

.styles__article[data-name="verrokko"] {
  background-image: url('/img/real_verrokko.jpg');
}

.styles__article[data-name="mone"] {
  background-image: url('/img/impres_mone.jpg');
}

.styles__article[data-name="sislei"] {
  background-image: url('/img/impres_sislei.jpg');
}

.styles__article[data-name="mane"] {
  background-image: url('/img/impres_mane.jpg');
}

.styles__article[data-name="renuar"] {
  background-image: url('/img/imptres_renuar.jpg');
}

.styles__article[data-name="vangok"] {
  background-image: url('/img/postimpres_vangok.jpg');
}

.styles__article[data-name="sezann"] {
  background-image: url('/img/postimpres_sezann.jpg');
}

.styles__article[data-name="gogen"] {
  background-image: url('/img/postimpres_gogen.jpg');
}

.styles__article[data-name="sera"] {
  background-image: url('/img/postimpres_sera.jpg');
}

.styles__article[data-name="kandinskii"] {
  background-image: url('/img/avangard_kandinskii.jpg');
}

.styles__article[data-name="marinetti"] {
  background-image: url('/img/avangard_marinetti.jpg');
}

.styles__article[data-name="malevich"] {
  background-image: url('/img/avangard_malevich.jpg');
}

.styles__article[data-name="picasso"] {
  background-image: url('/img/avangard_picasso.jpg');
}

.styles__article[data-name="karra"] {
  background-image: url('/img/futurism_karra.jpg');
}

.styles__article[data-name="pratella"] {
  background-image: url('/img/futurism_pratella.jpg');
}

.styles__article[data-name="severini"] {
  background-image: url('/img/futurism_severini.jpg');
}

.styles__article[data-name="balla"] {
  background-image: url('/img/futurism_balla.jpg');
}

.simplebar-track.simplebar-vertical {
  width: 5px;
  top: 40px;
  bottom: 40px;
  background: #000000;
}

.simplebar-track {
  right: 18px;
}

.simplebar-scrollbar::before {
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-mask {
  bottom: 20px;
}

/*hero*/

.hero {
  padding: 63px 0 122px 0;
}

.hero__container {
  z-index: 1;
}

.hero-swiper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 789px;
  z-index: -1;
}

.hero-slide-one {
  background-image: url("/img/hero_bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-slide-two {
  background-image: url("/img/hero_bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-slide-three {
  background-image: url("/img/hero_bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  width: 579px;
}

.hero__title {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 72px;
  line-height: 93px;
  color: var(--text_color_white);
}

.hero__desc {
  margin-bottom: 110px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--text_color_white);
}

.hero__btn {
  padding: 23px 35px;
  color: var(--text_color_white);
  background-color: #9D5CD0;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.hero__btn:focus-visible {
  border: 3px solid var(--text_color_white);
}

.hero__btn:hover:not(:focus-visible) {
  border: 3px solid #D1A9F0;
}

.hero__btn:active:not(:focus-visible) {
background-color: var(--hero_btn_active);
}

/*about*/

.about {
  padding: 100px 0 68px 0;
}

.about__title {
  margin-bottom: 13px;
  color: var(--text_color_grey);
}

.about__desc {
  width: 1080px;
  color: var(--text_color_grey);
}

/*gallary*/

.gallary {
  padding: 80px 0;
  background-image: url("/img/gallary_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.gallary__title {
  margin-bottom: 13px;
  color: var(--text_color_white);
}

.gallary__desc {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--text_color_white);
}

.gallary__content_left {
  margin-right: 50px;
  width: 26%;
}

.gallary__form {
  justify-content: space-between;
  height: 72%;
}

.gallary__select {
  width: 100%;
}

.gallary__label_check {
  position: relative;
}

.gallary__check_text {
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text_color_white);
}

.gallary__check_box::after{
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 12px;
  height: 12px;
  outline: 1px solid var(--text_color_white);
  }

  .gallary__check_box::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 6px;
  width: 4px;
  height: 4px;
  background-color: #C283F3;
  background-size: 4px 4px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  }

  .gallary__checkbox {
    -webkit-appearance: none;
  }

  .gallary__checkbox:checked + .gallary__check_box::before {
    opacity: 1;
  }



  .gallary__label_check:hover .gallary__check_box::after {
    outline: 1px solid var(--link_hover);
  }

  .gallary__label_check:active .gallary__check_box::after {
    outline: 1px solid var(--hero_btn_active);
  }

  .gallary__check_text:active {
    color: var(--hero_btn_active);
  }

  .gallary__checkbox:focus-visible:not(:active) ~ .gallary__check_text{
    color: var(--hero_btn_active);
  }

 .gallary__checkbox:focus-visible:not(:active) + .gallary__check_box::after {
    outline: 1px solid var(--hero_btn_active);
  }

  .choices__inner {
    background-color: transparent;
    padding: 0 0 0 6px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
  }

  .gallary__label_select:hover .choices {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .choices:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
}

  .choices__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--text_color_white);
  }

  .choices__list--dropdown {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    background-image: url("/img/gallary_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 6px 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices[data-type*=select-one]:after {
  content: '';
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: transparent #FFFFFF #FFFFFF transparent;
  border-width: 1px;
  position: absolute;
  top: 38%;
  right: 4%;
  pointer-events: none;
  transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open:after {
  transform: rotate(225deg);
  border-color: transparent #FFFFFF #FFFFFF transparent;
  margin-top: 0;
}

.gallary__content_right {
  position: relative;
  height: 435px;
  width: 72%;
}

.gallary__swiper {
  padding-top: 85px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.gallary__swiper-pagination {
  color: var(--text_color_white);
  bottom: 87%;
  left: 0;
  width: 12%;
  z-index: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.gallary__swiper-button-prev {
  top: 45px;
  left: 2px;
  width: 30px;
  height: 30px;
  color: transparent;

}

.gallary__swiper-button-next {
  top: 45px;
  right: 0;
  left: 100px;
  color: transparent;
  width: 30px;
  height: 30px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: "";
}

.swiper-button-next:hover:not(:focus-visible) svg, .swiper-button-prev:hover:not(:focus-visible) svg{
fill: #9D5CD0;
}

.swiper-button-next:active:not(:focus-visible) svg, .swiper-button-prev:active:not(:focus-visible) svg{
  fill: #7943A4;
  outline: 2px solid #000000;
  border-radius: 50%;
}

.swiper-button-next:focus-visible svg, .swiper-button-prev:focus-visible svg{
    outline: 2px solid #9D5CD0;
    border-radius: 50%;
}

/* стили дизейбла, не очень красивые
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-disabled svg {
  fill: #ECECEC;
  stroke: #CACACA;
}
*/


.gallary__btn_zoom {
  opacity: 0;
   padding: 100px;
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 10%;
   left: 10%;
   transition: opacity .3s ease-in-out;
}

.gallary__btn_zoom:hover {
  opacity: 1;
}

.hystmodal__window {
  width: 900px;
  height: 500px;
}

.hystmodal__styled {
  height: 100%;
}

.hystmodal__left img {
  min-width: 400px;
  height: 100%;
  }

.gystalmodal__right {
  padding: 121px 50px 121px 48px;
  width: 600px;
}

.gallary__hystmodal_h3 {
  margin-bottom: 5px;
}

.gallary__hystmodal_h4 {
  margin-bottom: 2px;
}

.gallary__hystmodal_year {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.gallary__hystmodal_desc {
  line-height: 22px;
  color: #333333;
}

.hystmodal__close {
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666641 15.3043L15.3333 3.17761e-05L16 0.695679L1.33331 15.9999L0.666641 15.3043Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666725 -2.96187e-06L15.3334 15.3042L14.6667 15.9999L5.76143e-05 0.695644L0.666725 -2.96187e-06Z' fill='black'/%3E%3C/svg%3E%0A");
}

.hystmodal__close:hover, .hystmodal__close:focus {
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666885 15.3045L15.3336 0.000275917L16.0002 0.695923L1.33355 16.0002L0.666885 15.3045Z' fill='%239D5CD0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666725 -2.96187e-06L15.3334 15.3042L14.6667 15.9999L5.76143e-05 0.695644L0.666725 -2.96187e-06Z' fill='%239D5CD0'/%3E%3C/svg%3E%0A");
}

/*catalog*/

.catalog {
  padding: 70px 0 40px 0;
}

.catalog__title {
  margin-bottom: 16px;
  color: var(--text_color_grey);
}

.catalog__desc {
  margin-bottom: 34px;
  width: 70%;
  color: var(--text_color_grey);
}

.catalog__content_left, .catalog__content_right {
  width: calc(100% / 2);
}

.catalog__content_left {
  padding-right: 50px;
}

.catalog__img_painter {
  max-height: 470px;
  width: 100%;
  margin-bottom: 30px;
}

.catalog__h3 {
  margin-bottom: 9px;
}

.catalog__live_yers {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalog__content_tabs {
  display: none;
}

.catalog__content_tabs--active {
  display: block;
}



/*аккордион*/

.catalog__arrow {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.catalog__arrow:focus-visible {
  outline: 0;
}

.btn_arrow {
  background-color: #ECECEC;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.btn_arrow::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 40%;
  height: 12px;
  width: 12px;
  border-style: solid;
  border-color: transparent var(--text_color_grey) var(--text_color_grey) transparent;
  border-width: 1px;
  transform: rotate(45deg);
  background-color: transparent;
}

.catalog__btn {
  border: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
  background-color: transparent;
  position: relative;
  margin-top: 0;
  transition: border-color .3s ease-in-out;
}
.catalog__item_top:first-child .item-top {
  border-top: 2px solid gray;
}

.catalog__item_top:last-child .item-top {
  border-bottom: 2px solid gray;
}

.catalog__period {
  text-align: left;
  margin-right: auto;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text_color_grey);
  transition: color .3s ease-in-out;
}

.catalog__item_bot {
overflow: hidden;
visibility: hidden;
transition-property: height, visibility;
transition-timing-function: ease;
}

.catalog__item_top--active .catalog__item_bot {
  visibility: visible;
}

.catalog__item_top--active .btn_arrow {
  transform: rotate(180deg);
}

.catalog__item_top--active .btn_arrow::before {
  left: 35%;
}

.catalog__link_painters {
  column-gap: 60px;
  padding: 25px 0;
  max-height: 320px;
}

.link_painters {
  max-width: max-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  cursor: pointer;
}

.link_painters:hover:not(:active), .catalog__no_info_link:hover:not(:active) {
border-bottom: 1px solid #9D5CD0;
}

.news__link:hover:not(:active) {
  color: var(--link_focus);
  border-bottom: 1px solid var(--link_focus);
}

.news__link:active {
  color: #333333;
  border-bottom: 1px solid #333333;
}

.link_painters:focus-visible  {
  background: var(--hero_btn_active);
}

.news__link:focus-visible {
  color: var(--text_color_white);
  border-bottom: 1px solid var(--text_color_white);
  background: var(--hero_btn_active);
}


.catalog__no_info_link:focus-visible {
  background: var(--hero_btn_active);
  color: var(--text_color_white);
}

.link_painters:active, .catalog__no_info_link:active {
  color: var(--hero_btn_active);
}

.link_painters--active {
  color: var(--hero_btn_active);
}

.catalog__btn:focus-visible { outline: 0; }
.catalog__btn:hover:not(:active),
.list__item:first-child .catalog__btn:hover:not(:active),
.catalog__item_top:first-child {
  border-color: var(--hero_btn_bg);
}

.catalog__btn:active,
.list__item:first-child .catalog__btn:active,
.catalog__item_top:first-child {
  border-color: var(--hero_btn_active);
}


.catalog__btn:hover:not(:active) .catalog__period {
  color: var(--hero_btn_bg);
}

.catalog__btn:hover:active .catalog__period {
  color: var(--hero_btn_active);
}

.catalog__btn:focus-visible:not(:active) .catalog__period {
  color: var(--text_color_white);
  background: #9D5CD0;
}

.catalog__btn:hover:not(:active) .catalog__arrow,
.catalog__btn:focus-visible:not(:active) .catalog__arrow,
.catalog__btn:focus-visible:not(:active) .btn_arrow::before,
.catalog__btn:active .catalog__arrow,
.catalog__btn:active .btn_arrow::before
 {
  background-color: #D1A9F0;
}

.catalog__btn:active .catalog__arrow
 {
  border: 2px solid #9D5CD0;

}

.catalog__arrow,
.btn_arrow:before {
  transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}

.catalog__btn:active .catalog__arrow {
  transform: rotate(180deg);
  border: 2px solid #9D5CD0;
}

.catalog__btn:active .btn_arrow::before {
  left: 38%;
}

.catalog__no_info {
  margin-bottom: 30px;
  height: 470px;
  background: #ECECEC;
  justify-content: center;
  align-items: center;
}

.catalog__no_info_desc {
  margin-bottom: 15px;
}

.catalog__no_info_text {
font-weight: 600;
font-size: 24px;
line-height: 33px;
text-align: center;
color: #666666;}

.article__no_painters_left {
  margin-right: 38px;
  width: 34%;
  background: #999999;
  outline: 2px solid #999999;
  outline-offset: 12px;
}

.catalog__no_painters {
  padding: 25px 15px;
}

.article__no_painters_right h3,
.article__no_painters_right p {
  margin-bottom: 5px;
}

.catalog__no_info_link {
  color: var(--hero_btn_bg);
  width: max-content;
}

/*news*/

.news {
  padding: 40px 0;
  position: relative;
}

.news__title {
margin-bottom: 16px;
}

.news__place {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.news__h3 {
  margin-bottom: 10px;
}

.news__desc {
  margin-bottom: auto;
}

.news__link {
  max-width: max-content;
  border-bottom: 1px solid var(--hero_btn_bg);
  color: var(--hero_btn_bg);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.news__swiper-slide {
  height: 690px;
}

.news__swiper-slide.slide_1 .news__article_top {
  height: 300px;
  background-image: url("/img/news1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news__swiper-slide.slide_2 .news__article_top {
  height: 300px;
  background-image: url("/img/news2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news__swiper-slide.slide_3 .news__article_top {
  height: 300px;
  background-image: url("/img/news3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news__swiper-slide.slide_4 .news__article_top {
  height: 300px;
  background-image: url("/img/news4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news__swiper-slide.slide_5 .news__article_top {
  height: 300px;
  background-image: url("/img/news5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news__article_bot {
  height: 48%;
  padding: 10px 50px 50px 50px;
  justify-content: space-between;
  flex: 1;
}

.news__swiper {
  height: 700px;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.news__swiper-slide {
  border: 1px solid #CACACA;
}

.news__swiper-button-prev, .news__swiper-button-next {
  position: absolute;
  margin-top: 0;
  width: 50px;
  height: 50px;
  top: 52%;
  right: 2px;
}

.news__swiper-button-prev {
  transform: rotate(180deg);
  left: auto;
}

.news__swiper-button-next.swiper-button-disabled {
  display: none;
}

.news__swiper-button-prev:hover:not(:active) path, .news__swiper-button-next:hover:not(:active) path,
.projects__swiper-button-prev:hover:not(:active) path, .projects__swiper-button-next:hover:not(:active) path {
fill: var(--hero_btn_bg);
stroke: var(--text_color_white);
}

.news__swiper-button-prev:active path, .news__swiper-button-next:active path,
.projects__swiper-button-prev:active path, .projects__swiper-button-next:active path  {
  fill: var(--hero_btn_active);
  stroke: var(--text_color_white);
  }

.news__swiper-button-prev:focus-visible path, .news__swiper-button-next:focus-visible path,
.projects__swiper-button-prev:focus-visible path, .projects__swiper-button-next:focus-visible path {
  fill: #666666;
  stroke: var(--text_color_white);
}

/*projects*/

.projects {
  padding: 40px 0;
}

.projects__tiltip {
  position: relative;
}

.projects__title {
  margin-bottom: 16px;
}

.projects__desc {
  max-width: 70%;
  margin-bottom: 30px;
}

.projects__tultip_desc {
  display: block;
  position: absolute;
  top: -20px;
  left: 35px;
  width: 300px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: var(--text_color_white);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}

.projects__tultip_desc::before {
  content: "";
  position: absolute;
  top: 4%;
  right: 100%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color:rgba(0, 0, 0, 0.5);
}

.projects__tiltip:hover .projects__tultip_desc {
  visibility: visible;
  opacity: 1;
}
.projects__tiltip:focus .projects__tultip_desc {
  visibility: visible;
  opacity: 1;
}

.projects__tiltip:hover svg, .projects__tiltip:focus svg {
  fill: #D1A9F0;
}

.projects__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--hero_btn_bg);
}

.projects__link:hover:not(:active) {
  border-bottom:1px solid var(--hero_btn_bg);
}

.projects__link:active:not(:focus-visible) {
  border-bottom:1px solid var(--hero_btn_active);
}

.projects__link:focus-visible {
  background: var(--hero_btn_bg);
  color: var(--text_color_white);
}

.projects__h3 {
  margin-bottom: 23px;
}

.projects__swiper-wrapper {
  box-sizing: border-box;
}

.projects__swiper-button-next, .projects__swiper-button-prev {
  width: 30px;
  height: 30px;
  margin-top: 0;
  top: 35%;
}

.projects__swiper-button-next {
  right: 2px;
}

.projects__swiper-button-prev {
left: 2px;
}

.projects__swiper-button-next.swiper-button-disabled,
.projects__swiper-button-prev.swiper-button-disabled {
  display: none;
}

.project__list {
  padding-left: 75px;
  padding-right: 75px;
  justify-content: space-between;
}

.project__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  width: 450px;
  height: 150px;
  border: 1px solid #CACACA;
}

.project__item:last-child {
  margin-right: 0;
}

.project__item:focus-visible, .project__item:active {
  border: 1px solid var(--hero_btn_bg);
}


[data-name*="slide"] {
  background-repeat: no-repeat;
  background-position: center;
}

[data-name="slide1_1"] {
  background-image: url("/img/projects_slides/projects_1-1.jpg");
}

[data-name="slide1_1"]:hover {
  background-image: url("/img/projects_slides/hover_1-1.jpg");
  transition: background-image 0.3s ease-in-out;
}

[data-name="slide1_2"] {
  background-image: url("/img/projects_slides/projects_1-2.jpg");
}

[data-name="slide1_2"]:hover {
  background-image: url("/img/projects_slides/hover_1-2.jpg");
  transition: background-image 0.3s ease-in-out;
}

[data-name="slide1_3"] {
  background-image: url("/img/projects_slides/projects_1-3.jpg");
}

[data-name="slide1_3"]:hover {
  background-image: url("/img/projects_slides/hover_1-3.jpg");
  transition: background-image 0.3s ease-in-out;
}

[data-name="slide2_1"] {
  background-image: url("/img/projects_slides/projects_2-1.jpg");
}

[data-name="slide2_1"]:hover {
  background-image: url("/img/projects_slides/hover_2-1.jpg");
  transition: background-image 0.3s ease-in-out;
}

[data-name="slide2_2"] {
  background-image: url("/img/projects_slides/projects_2-2.jpg");
}

[data-name="slide2_2"]:hover {
  background-image: url("/img/projects_slides/hover_2-2.jpg");
  transition: background-image 0.3s ease-in-out;
}

[data-name="slide2_3"] {
  background-image: url("/img/projects_slides/projects_2-3.jpg");
}

[data-name="slide2_3"]:hover {
  background-image: url("/img/projects_slides/hover_2-3.jpg");
  transition: background-image 0.3s ease-in-out;
}

[data-name="slide3_1"] {
  background-image: url("/img/projects_slides/projects_3-1.jpg");
}

[data-name="slide3_1"]:hover {
  background-image: url("/img/projects_slides/hover_3-1.jpg");
  transition: background-image 0.3s ease-in-out;
}

[data-name="slide3_2"] {
  background-image: url("/img/projects_slides/projects_3-2.jpg");
}

[data-name="slide3_2"]:hover {
  background-image: url("/img/projects_slides/hover_3-2.jpg");
  transition: background-image 0.3s ease-in-out;
}

[data-name="slide3_3"] {
  background-image: url("/img/projects_slides/projects_3-3.jpg");
}

[data-name="slide3_3"]:hover {
  background-image: url("/img/projects_slides/hover_3-3.jpg");
  transition: background-image 0.3s ease-in-out;
}

/*contacts*/

.contacts {
padding: 40px 0;
border-top: 1px solid #CACACA;
border-bottom: 1px solid #CACACA;
}

address {
font-style: normal;
}

.contacts__adress {
align-self: flex-start;
}

.contacts__h3 {
  margin-bottom: 4px;
}

.contacts__content {
  justify-content: space-between;
  align-items: center;
}

.contacts__form {
  flex: 1;
}

.contacts__input {
  width: 270px;
  outline: none;
  position: relative;
  margin-right: 20px;
  padding: 14px 23px;
  border-radius: 100px;
}

.contacts__input:hover, .contacts__input:focus {
  background: #ECECEC;
}

.contacts__btn {
  padding: 11px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--hero_btn_bg);
  border: 2px solid var(--hero_btn_bg);
  border-radius: 100px;
}

.contacts__btn:hover {
  color: var(--text_color_white);
  background: var(--hero_btn_bg);
}

.contacts__btn:focus-visible:not(:active) {
  outline: 2px solid var(--link_hover);
  outline-offset: 2px;
}

.contacts__btn:active {
  color: var(--text_color_white);
  background: var(--hero_btn_active);
  border: 3px solid #D1A9F0;
}

.contacts__link:hover, .contacts__link:focus-visible  {
  opacity: 0.5;
}

.contacs__link:active:not(:focus-visible) {
  outline: 1px solid var(--hero_btn_bg);
}

.just-validate-error-label {
  max-width: max-content;
}

.just-validate-error-field {
  border-color: red;
}

.contacts__form_input {
  display: flex;
  justify-content: center;
  position: relative;
}


.is-label-invalid {
  display: block;
  position: absolute;
  top: -40%;
  left: 3%;
}

.form-group {
  position: relative;
}

[class*=ground-pane] {
  filter: grayscale(1);
}

/*footer*/

.footer {
  padding: 50px 0;
  background: #000000;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__socila_link {
display: inline-block;
}

.footer__socila_link:not(:last-child) {
margin-right: 20px;
}

.footer__socila_link:hover path, .footer__socila_link:focus path{
  fill: var(--text_color_white);
}

.footer__socila_link:active path {
  fill: var(--hero_btn_bg);
}
